   {%load static%}
    <footer>
        <div class="footer__body"></div>
        <div class="container">
            <div class="footer_items">
                <div class="info">
                    <ul>
                        <li><a href="">What halal is?</a></li>
                        <li><a href="">Contacts</a></li>
                        <li><a href="">About us</a></li>
                </div>

                <div class="copyright">
                    © 2022 Halal Food Only
                </div>
            </div>
        </div>
        </div>
    </footer>